<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
   <%- include('./partials/head.ejs') %>
   <body> 
      <%- include('./partials/nav.ejs')  %>
      <div class="xx99-mark-two container">
         <div class="xx99-mark-II-image">
            <img src="/assets/product-xx99-mark-two-headphones/desktop/image-category-page-preview.jpg" alt="XX99 Mark II Headphones">
         </div>
         <div class="xx99-mark-II-info">
            <h4 class="xx99-mark-two-products">New Product</h4>
            <h1 class="xx99-mark-two-header"><%- item1.name %> </h1>
            <p class="xx99-mark-two-content"><%- item1.description %> </p>
            <h5 class="xx99-mark-two-price"><%- item1.price %> </h5>
            <div class="xx99-mark-two-add-products">
               <div class="axx9-mark-two-add-buttons">
                  <button>-</button>
                  <div class="counter"></div>
                  <button>+</button>
               </div>
               <a href="/headphones/xx99-mark-two-headphones"><button class="xx99-mark-two-button btn">Add To Cart</button></a>
            </div>
         </div>
         <div class="xx99-mark-II-info-2">
            <div class="xx99-mark-two-features-info">
               <h1 class="xx99-mark-two-feature-header">Features</h1>
               <p class="xx99-mark-two-info"><%- item1.features %></p>

            </div>
         </div>
      </div>
   </body>
</html>